<br>

<div class="row">
	<div class="col-md">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="users-registered">
			  	<div class="card-header">
			  		<h5 class="card-title">Cargoes Permitted</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"><iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="400" height="400" src="https://charts.mongodb.com/charts-project-0-xgrmz/embed/charts?id=d79b9f4e-6712-4044-b106-4d5e03251f92&theme=light"></iframe></h3>
			  	</div>
			</div>
		</div>
	</div>
	<div class="col-md">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="users-registered">
			  	<div class="card-header">
			  		<h5 class="card-title">Sessions</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"><iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="400" height="400" src="https://charts.mongodb.com/charts-project-0-xgrmz/embed/charts?id=25241c6f-09ec-4936-b84a-3475dc8a9e4e&theme=light"></iframe></h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col-md">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-locations">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Locations</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"><iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="400" height="400" src="https://charts.mongodb.com/charts-project-0-xgrmz/embed/charts?id=a03d3a1c-f3c7-4182-aaf8-0dc87a0f82b4&theme=light"></iframe></h3>
			  	</div>
			</div>
		</div>
	</div>
</div>
